<div class="content">
  <img
    class="profile_pic"
    src="/assets/images/about-photo.jpg"
    alt="Profile picture"
  />
  <div class="primary-text">Abhishek Saxena</div>
  <div class="sub-heading">About</div>
  <p class="description">
    Hello, My name is Abhishek Saxena and I have created this website to share
    knowledge about programming. I am a full stack developer. My tech stack is
    Java-Angular, and I also like do android development on the side. Some
    things you can expect from this website are, learn to write optimized and
    clean code, start your journey of becoming a full stack developer, learn the
    fundamentals of android development, and improve code quality to a
    professional level.
    <br />
    <br />
    This website is a place where I can reach thousands of stranded developers
    who want to learn but can't find good resources to learn from. This is a
    place wherein I can share my knowledge and help others to be part of the
    amazing community of developers.
  </p>

  <div class="sub-heading">Let's Connect</div>
  <div class="row">
    <div class="eq-row">
      <img
        class="eq-row-item"
        *ngFor="let item of contactMeItems"
        (mouseenter)="item.hover = true"
        (mouseleave)="item.hover = false"
        [src]="item.hover ? item.selectedImage : item.unSelectedImage"
        (click)="onNavigate(item.url)"
        [alt]="item.alt"
      />
    </div>
  </div>
</div>
