* {
  font-size: 1.1rem;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.sub-heading {
  color: rgb(131, 127, 127);
  font-size: 1.4rem;
  font-weight: 600;
  margin: 10px 0px;
}

.profile_pic {
  border-radius: 50%;
  max-width: 170px;
  max-height: 170px;
}

.primary-text {
  color: rgb(0, 0, 0);
  font-size: 1.8rem;
  margin-top: 10px;
}

.wrapper {
  overflow: scroll;
  flex-wrap: none;
  padding-bottom: 10vh;
}

.ul-list {
  list-style: disc;
}

.sub-ul-list {
  list-style: circle;
}

.eq-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.eq-row-item {
  flex-basis: auto;
  padding: 10px;
  transition: 0.2s;
  max-width: 60px;
  max-height: 60px;
}

.eq-row-item:hover {
  flex-basis: auto;
  padding: 10px;
  transform: scale(1.1);
  transition: 0.2s;
}
