/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

/* body{
  background: url('assets/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: transparent;
} */

/* .wrapper {
  padding: 0 10vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 98vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: #72da91;
  border-radius: 90px 120px 30px 120px;
} */
