<div class="content">
  <h1>Android Developer Learning Path</h1>

  <h2 class="display-5">Beginner Learning Path</h2>
  <div
    class="card mt-3"
    *ngFor="let course of basicCourses"
    style="width: 100%"
  >
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">add image</div>
        <div class="col-md-9">
          <strong>{{ course.heading }}</strong
          ><br />
          {{ course.content }}
        </div>
      </div>
    </div>
  </div>
  <h2 class="mt-3 display-5">Advance Learning Path</h2>
  <div
    class="card mt-3"
    *ngFor="let course of advanceCourses"
    style="width: 100%"
  >
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">add image</div>
        <div class="col-md-9">
          <strong>{{ course.heading }}</strong
          ><br />
          {{ course.content }}
        </div>
      </div>
    </div>
  </div>
</div>
