body{
  background-color: transparent ! important;
}

.wrapper {
  display: inline-block;
  padding: 0 10vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 98vh;    
  background-color: rgba(0,0,0, .8);
  color: #72da91;
  border-radius: 30px 120px 30px 120px;
}

.logo {
    
  margin: auto;
  margin-top: 10vh;
  max-width: 30vw;
  
}

.logo img {
  height: 100%;
  width: 100%;
  display: inline-block;
  object-fit: contain;
  margin: auto;
}

.c-text {
  
  margin: auto;
  margin-bottom: 25vh;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
  background-color: rgba(17, 31, 43, 0.9);
  padding: 10px 60px;
  transition: .2s ease-in-out    
}

.c-text:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  transition: .2s ease-in-out 
}



@media only screen and (max-width: 740px) {
  body {
      background-image: url("/img/mob.jpg");
  }

  .logo {
      max-width: 60vw;
  }

  .c-text {
      margin-bottom: 35vh;
      padding: 10px 20px;
      font-size: 1rem;
  }
}