<h3>Android Developer Learning Path</h3>

<div class="container">
  <div class="card">
    <div class="card-header bg-primary text-white"></div>
    <div class="card-body">
      <ul type="none">
        <li><strong>Basics</strong></li>
        <ol>
          <li>Basic Layouts</li>
          <ul type="disc">
            <li>Linear Layout</li>
            <li>Relative Layout</li>
            <li>Constraint Layout</li>
          </ul>
          <li>Basic UI Widgets</li>
          <ul type="disc">
            <li>Button</li>
            <li>EditView</li>
            <li>TextView</li>
            <li>Checkboxes</li>
            <li>Radio Buttons</li>
            <li>Spinner(Dropdown Menu)</li>
          </ul>
          <li>Data Storage in Android</li>
          <ul type="disc">
            <li>Key-Value pairs (using Datastore)</li>
            <li>SQL Database (using Room)</li>
          </ul>
          <li>Networking in Android</li>
          <ul type="disc">
            <li>Making basic GET Request (using Retrofit or Volley)</li>
          </ul>
        </ol>
        <li><strong>Advance</strong></li>
        <ol>
          <li>Testing</li>
          <li>Firebase</li>
          <li>Animations (using Motion Layout)</li>
        </ol>
      </ul>
    </div>
  </div>
</div>
